<!DOCTYPE html>
<html lang="en">

<head>
	<title>Todo List</title>
	<meta charset="utf-8" />
	<script src="/cdn/libraries/jquery.js"></script><!-- the jQuery library-->
	<script src="/cdn/scripts/todo/index.js"></script><!-- Our JavaScript code for this page-->
	<link rel="stylesheet" href="/cdn/styles/main.css">
</head>

<body>
	<h1>Stuff I need to do:</h1>
	<button type="button" id="helloButton" class = "btn btn-primary">Press the button!</button>
	<!-- Our JavaScript code for this page-->
	<script src="/cdn/scripts/todo/index.js"></script>
</body>

</html>